@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Manrope:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-200;
  }
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
